<%- include("partials/head.ejs") %>

    <main class="main-login">

        <h2>
            <%= about %>
        </h2>

        <form id="loginForm" class="form-alta" action="/login" method="POST">

            <label for="emailUser">Email</label>
            <input type="email" name="email" id="emailUser" required>

            <label for="passwordUser">Password</label>
            <input type="password" name="password" id="passwordUser" required>

            <input type="submit" value="Login">

            <button type="button" id="btn-autologin">
                AutoLogin
            </button>

        </form>

        <% if (typeof error !=="undefined" ) { %>

            <p class="mensaje mensaje-error">
                <%= error %>
            </p>

            <% } %>

    </main>

    <script src="/js/login.js"></script>

    <%- include("partials/footer.ejs") %>