<header>

    <div class="header-izq">
        <div class="logo">
            <a href="/dashboard/index">
                <img src="/assets/img/logo.png" alt="logo" class="logo">
            </a>
        </div>

        <div class="alumnos">
            <p>Agustín Arredondo - Mauro Sommacal</p>
        </div>
    </div>

    <div class="header-centro">
        <ul class="enlaces">
            <li><a href="/dashboard/index">VER</a></li>
            <li><a href="/dashboard/consultar">CONSULTAR</a></li>
            <li><a href="/dashboard/crear">CREAR</a></li>
            <li><a href="/dashboard/modificar">MODIFICAR</a></li>
            <li><a href="/dashboard/eliminar">ELIMINAR</a></li>
        </ul>
    </div>

    <div class="header-der">

        <a class="btn-cliente" href="http://127.0.0.1:5500/Front/index.html">
            Vista cliente
        </a>
        <form id="form-logout" method="POST" action="/login/destroy">
            <input type="submit" value="Cerrar sesión">
        </form>
    </div>

</header>